*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.container{
    width: 80%;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.text-align-center{
    text-align: center;
}