<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>FanRequest Home</title>
</head>
<body>
    <div class="navbar">
        <a href="/" style="text-decoration: none;"><h1><span style="color:rgb(133, 111, 255)">Fan</span><span style="color:rgb(0, 163, 41)">Requests</span></h1></a>
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Seach For Games">
            <button>
                <img src="{{url_for('static',filename='imgs/search-magnifying-glass.png')}}" alt="Search" style="width:25px">
            </button>
        </div>
        {%if session['user_id'] ==0%}
        <div class="flex align-center" style="gap:3em">
            <a href="/login_form" class="log-link">Login</a>
            <a href="/register_form" class="log-link">Register</a>
        </div>
        {%else%}
        <h1>{{user.username}}</h1>
        <a href="/signout" class="log-link">Signout</a>
        {%endif%}
    </div>
    <div class="motto">
        <img src="{{url_for('static',filename='imgs/empowered_gamer.jpg')}}" alt="" class="motto-img">
        <div class="motto-text">
            <span class="motto-title">Empower the Gamer</span><br>
            <span class="motto-text"> Be the Change you Want in the Gaming Industry</span>
        </div>
    </div>
    <div class="flex just-center">
        <div class="container flex-wrap">
            <!-- <form action='/check_game' method='post'>
                <input type='hidden' name='id' value='3498'> <input type='hidden' name='title' value='Grand Theft Auto V'>
                <button class='game-card'>
                    <img src='https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg' class='game-image' alt='grand-theft-auto-v'>
                    <h1>Grand Theft Auto V</h1>
                </button>
            </form> -->
        </div>
        
    </div>

    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>